<!--
  Generated template for the VenueInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Venue Info</ion-title>
  </ion-navbar>

</ion-header>

<!-- AIzaSyASClabdsiB_ZnpEI_hRDSzMQJcME6Gers -->
<ion-content padding>

    <!-- <script type="text/javascript" async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASClabdsiB_ZnpEI_hRDSzMQJcME6Gers&callback=initMap"
  type="text/javascript"></script> -->
  <!-- <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map> -->

    <div class="container">
      <!-- <div class="form-group">
        <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
      </div> -->
      <!-- <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map> -->

      <agm-map [latitude]="lat" [longitude]="lng" [scrollwheel]="false" [zoom]="zoom">
          <agm-direction [origin]="origin" [destination]="destination">
          </agm-direction>
        </agm-map>
    </div>

    <h3 style="font-size:15px">Address: <br> {{address}}</h3>
    <h3 style="font-size:15px">Rating:</h3>
    <ion-grid>
      <ion-row style="display:block">
        <ion-col *ngFor="let rating of ratingArray">
            <ion-icon name="star"></ion-icon>
        </ion-col>
        <ion-col *ngFor="let rating of ratingHalfArray">
            <ion-icon name="star-half"></ion-icon>
        </ion-col>
        <ion-col *ngFor="let rating of ratingNone">
            <ion-icon name="star-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- <h3 *ngFor="let rating of ratingArray">
        <ion-icon name="star"></ion-icon>
    </h3>
      <h3 *ngFor="let rating of ratingHalfArray">
          <ion-icon name="star-half"></ion-icon>
    </h3>
        <h3 *ngFor="let rating of ratingNone">
            <ion-icon name="star-outline"></ion-icon>
        </h3> -->

    <h3 style="font-size:15px">Price: {{price}}</h3>
    <button ion-button (click)="goToMap()">See Available Spots</button>

    <button ion-button (click) = goToMap()>Book Now!</button>





</ion-content>
